<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../../static/base.css">
<link rel="stylesheet" href="../../static/style.css">
<link rel="stylesheet" href="../../static/prism.css">
<link rel="stylesheet" href="../../static/custom.css">
<title>前後ページへの移動 — lektor-blog</title>
<body>
  <header>
    <h1>朗読者の記憶</h1>
    <nav>
      <ul class="nav navbar-nav">
        <li><a href="../../">Welcome</a></li>
        
          <li class="active"><a href="../">Blog</a></li>
        
          <li><a href="../../tags/">Tags</a></li>
        
          <li><a href="../../about/">About</a></li>
        
      </ul>
    </nav>
  </header>
  <div class="page">
    <script src="../../static/js/prism.js" defer></script>
    <!-- 
      ><a href="/">Home</a>
    
      ><a href="/blog">blog</a>
    
      ><a href="/blog/quickstart-siblings">quickstart-siblings</a>
     -->
    
  
  <div class="blog-post">
  
    <h2>前後ページへの移動</h2>
    <hr />
  
  <div class="meta">
    <ul> 
    
      
        <li>tags:</li>
      
      <li>
          <a href="../tag/lektor/">lektor</a>
        </li>
      <li>
          <a href="../tag/quickstart/">quickstart</a>
        </li>
      
      </ul>
    
    <span>
      on 23-01-21
    </span>
  </div>
  
    <p>記事のページの中で、前の記事や後の記事へ移動ができるように、メソッド<code>get_siblings()</code>を利用してページ下にリンクを追加します。</p>
<h3>1. get_siblings()</h3>
<p>これには、ページオブジェクトが持つメソッド<a href="https://www.getlektor.com/docs/api/db/record/get_siblings/"><code>get_siblings()</code></a>を利用します。まずはtemplates/macors/へ新規にファイルを作成し、以下の内容を記述します。</p>
<h4>templates/macros/siblings.html (作成)</h4>
<pre><code class="lang-markup">{% macro render_sibling_page_links(post) %}
  &lt;div class=&quot;siblings&quot;&gt;
    {% if post.has_next() %}
        &lt;a href=&quot;{{ post.get_siblings().next_page|url }}&quot;&gt;Previous Post&lt;/a&gt;
    {% else %}
        &lt;span class=&quot;disabled&quot;&gt;Previous Post&lt;/span&gt;
    {% endif %}
    {% if post.has_prev() %}
        &lt;a href=&quot;{{ post.get_siblings().prev_page|url }}&quot;&gt;Next Post&lt;/a&gt;
    {% else %}
        &lt;span class=&quot;disabled&quot;&gt;Next Post&lt;/span&gt;
    {% endif %}
  &lt;/div&gt;
{% endmacro %}
</code></pre>
<h3>2. blog-postテンプレート</h3>
<p>テンプレート<code>blog-post.html</code>へ上記マクロのインポートとレンダリングを記述します。</p>
<h4>templates/blog-post.html (追記)</h4>
<pre><code class="language-markup">{% extends &quot;layout.html&quot; %}
{% from &quot;macros&#x2f;blog.html&quot; import render_blog_post %}
<mark>{% from &quot;macros&#x2f;siblings.html&quot; import render_sibling_page_links %}</mark>
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {{ render_blog_post(this) }}
  <mark>{{ render_sibling_page_links(this) }}</mark>
{% endblock %}
</code></pre><p><code>custom.css</code>へスタイルを追加します。</p>
<h4>assets/static/custom.css (追記)</h4>
<pre><code class="lang-css">/* previous post &amp; next post */
.siblings {
  display: flex;
  justify-content: space-between;
  padding-top: var(--spacing-2);
}
</code></pre>
<p><img src="./siblings-view.jpg" style="max-width:380px;" /></p>

  
  </div>

  
  <div class="siblings">
    
        <a href="../quickstart-color-themes/">Previous Post</a>
    
    
        <a href="../quickstart-tags/">Next Post</a>
    
  </div>


  </div>
  <footer>
    &copy; Copyright 2023 by Akira.
  </footer>
</body>
