<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../../static/base.css">

<link rel="stylesheet" href="../../static/style.css">

<link rel="stylesheet" href="../../static/override.css">

<link rel="stylesheet" href="../../static/prism.css">

<link rel="stylesheet" href="../../static/custom.css">

<link rel="stylesheet" href="../../static/navbar.css">

<link rel="stylesheet" href="../../static/header.css">

<link rel="stylesheet" href="../../static/contents.css">

<title>Welcome — lektor-memory</title>
<body>
  <header>
    <div class="navbar">
  <div class="navbar-area">
    <div class="navbar-logo">
      <div class="logo">Icyowl</div>
      <svg id="burger-icon" class="w-6 h-6 burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" >
        <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
      </svg>  
    </div>

    <nav>
      <ul id="menu" class="nav navbar-nav">
        <li><a href="../../">Home</a></li>
        
          <li class="active"><a href="../">Blog</a></li>
        
          <li><a href="../../tags/">Tags</a></li>
        
          <li><a href="../../about/">About</a></li>
        
      </ul>
    </nav>

  </div>
</div>

<script>
  var target = document.querySelector(".burger")
  var icon = document.getElementById("burger-icon");
  var menu = document.getElementById("menu");

  target.addEventListener("click", () => {
    icon.classList.toggle("fade");
    menu.classList.toggle("navbar-nav");
    // console.log(icon);
    // console.log(menu);

  })
</script>
    <div class="header-image-area">
  <div class="header-text">
    <h1>朗読者の記憶</h1>
    <h2>Static Site CMS Lektor</h2>
  </div>
</div>






  </header>
  <div class="page">
    
  <div class="breadcrumbs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
    <a href="/">Home</a>
  </div>

  <div class="breadcrumbs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
    <a href="/blog">blog</a>
  </div>

  <div class="breadcrumbs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
    <a href="/blog/quickstart-tags">quickstart-tags</a>
  </div>

    
  
  <div class="blog-post">
  
    <h2>タグ機能の追加</h2>
  
  <hr />
  <div class="meta">
    <ul> 
      
        
          <li>tags:</li>
        
        
          <li>
            <a href="../tag/lektor/">lektor</a>
          </li>
        
          <li>
            <a href="../tag/quickstart/">quickstart</a>
          </li>
        
      
    </ul>
    <span>
      on 2023-01-21 11:00:00
    </span>
  </div>
  
    <p>記事へタグのフィールドを追加し、タグを管理するプラグインを導入します。そしてタグに対する投稿の一覧ページを生成するテンプレートを作成します。</p>
<h3>1. タグフィールドの追加</h3>
<p><code>blog-post.ini</code>へ新たなフィールド<code>fields.tags</code>を追加します。<code>type</code>には複数行のテキストを定義する<code>strings</code>を指定します。</p>
<p>同時にサイトの構成をシンプルにするため、著者名とツィッターハンドルのフィールド<code>fields.author</code>と<code>fields.tiwtter</code>を削除します。</p>
<h4>models/blog-post.ini (編集)</h4>
<pre><code class="language-none">
<del>[fields.author]</del>
<del>label = Author</del>
<del>type = string</del>
<del>width = 1/2</del>

<del>[fields.twitter_handle]</del>
<del>label = Twitter Handle</del>
<del>type = string</del>
<del>width = 1/4</del>
<del> = @</del>

[fields.pub_date]
label = Publication date
type = date
width = 1/4

[fields.body]
label = Body
type = markdown

<mark>[fields.tags]</mark>
<mark>type = strings</mark>
</code></pre><p>記事の編集画面を開くと、Bodyフールドの下にTagsフィールドが確認できます。サンプルとして、Tagsフィールドに、coffeeとteeを入力しました</p>
<p><img src="./admin-view.jpg" style="max-width:380px;" /></p>
<h3>2. lektor-tagsプラグインの導入</h3>
<pre><code class="lang-shell">$ lektor plugins add lektor-tags
</code></pre>
<p>または、</p>
<h4>lektor-demo.lektorproject</h4>
<pre><code>[packages]
lektor-tags = 0.5.1
</code></pre>
<h3>3. プラグインの設定ファイル</h3>
<p><code>lektor-tags</code>プラグインは、独自の設定ファイルを必要とします。プロジェクトのルートに、<code>configs</code>というディレクトリを作成し、その中に<code>tags.ini</code>という名のファイルを作成します。</p>
<pre><code class="lang-none">|- configs/
    |- tags.ini
</code></pre>
<p><code>tags.ini</code>へ下記の記述を行います。</p>
<h4>configs/tags.ini (作成)</h4>
<pre><code class="lang-none">parent = /blog

items = this.parent.children.filter(F.tags.contains(tag))
url_path = {{ this.parent.url_path }}tag/{{ tag }}
ignore_missing = true
template = tag.html
</code></pre>
<h3>4. 投稿情報にタグ名とそのリンクを追加</h3>
<p><code>macros/blog.html</code>のmetaクラスの記述を、タグ名を表示するように書き換えて、AutherとTwitterの表示部分は削除します。</p>
<h4>templates/macros/blog.html (編集)</h4>
<pre><code class="language-markup">  &lt;div class=&quot;meta&quot;&gt;
    &lt;ul&gt; 
    {% if post.tags %}
      {% if post.tags|length == 1 %}
        &lt;li&gt;tag:&lt;/li&gt;
      {% else %}
        &lt;li&gt;tags:&lt;/li&gt;
      {% endif %}
      {% for t in post.tags %}
        &lt;li&gt;
          &lt;a href=&quot;{{ (&#39;/blog@tag/&#39; ~ t.lower() )|url }}&quot;&gt;{{ t }}&lt;/a&gt;
        &lt;/li&gt;
      {% endfor %}
      &lt;/ul&gt;
    {% endif %}
    &lt;span&gt;
      on {{ post.pub_date }}
    &lt;/span&gt;
  &lt;/div&gt;

  <del>&lt;p class=&quot;meta&quot;&gt;</del>
    <del>written by</del>
    <del>{% if post.twitter_handle %}</del>
      <del>&lt;a href=&quot;https://twitter.com/{{ post.twitter_handle }}&quot;&gt;{{ post.author or post.twitter_handle }}&lt;/a&gt;</del>
    <del>{% else %}</del>
      <del>{{ post.author }}</del>
    <del>{% endif %}</del>
    <del>on {{ post.pub_date }}</del>
  <del>&lt;/p&gt;</del>
</code></pre><h3>5. 投稿一覧ページの生成</h3>
<p>タグ名のリンク先に、タグの投稿一覧を表示するテンプレート<code>tag.html</code>を作成します。</p>
<h4>templates/tag.html (作成)</h4>
<pre><code class="lang-markup">{% extends &quot;layout.html&quot; %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
&lt;div class=&quot;tag-page&quot;&gt;
  &lt;h2&gt;Tag: {{ this.tag }}&lt;/h2&gt;
  &lt;ul&gt;
    {% for i in this.items %}
      &lt;li&gt;
        &lt;span&gt;{{ i.pub_date.strftime(&#39;%Y-%m-%d&#39;) }}&lt;/span&gt;
        &lt;a href=&quot;{{ i|url }}&quot;&gt;{{ i.title }}&lt;/a&gt;
      &lt;/li&gt;
    {% else %}
      &lt;li&gt;&lt;em&gt;No items.&lt;/em&gt;&lt;/li&gt;
    {% endfor %}
  &lt;/ul&gt;
&lt;/div&gt;
{% endblock %}
</code></pre>
<h3>6. スタイルの追加</h3>
<p>タグに係わるスタイルを追加します。</p>
<h4>assets/static/custom.css (追記)</h4>
<pre><code class="lang-css">/* tags */
.meta  {
  display: flex;
  justify-content: start;
}

.meta ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meta ul li {
  display: inline;
  line-height: 1;
  margin: 0 2px 0 0;
  padding: 0;
}

.meta span {
  margin-left: 2px;
}

/* tag page */
.tag-page ul {
  list-style: none;
  margin-top: 1rem;
}
</code></pre>
<p>投稿日付の左側にタグ名が表示されました。</p>
<p><img src="./tags-view.jpg" style="max-width:380px;" /></p>
<p>タグ名のcoffleeのリンクをクリックすると、coffeeタグの投稿一覧ページに移動します。</p>
<p><img src="./tagpage-view.jpg" style="max-width:380px;" /></p>

  
  </div>

  
  <div class="siblings">
    
        <a href="../quickstart-siblings/">Previous Post</a>
    
    
        <a href="../quickstart-tagpage/">Next Post</a>
    
  </div>


  </div>
  <footer>
    &copy; Copyright 2023 by Aki. 
<a style="margin-left:0.25rem;" href="#">Tiwtter</a>
  </footer>
  <script src="../../static/js/prism.js" defer></script>
</body>
