
/* top page */
.welcome a {
  color: var(--gray-9);
}

.welcome a:hover {
  color: var(--gray-7);
}

.welcome ol {
  list-style-type: upper-roman;
}

.welcome ol ol {
  list-style-type: decimal;
}

.welcome ul {
  list-style-type: none;
  padding: 0 0 0 1rem;
}

.welcome ul li {
  margin: .5rem 0;
}