
/* previous post & next post */
.siblings {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}

/* meta */
.meta ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.meta ul li {
  display: inline;
  line-height: 1;
  margin: 0 2px 0 0;
  padding: 0;
}

.meta span {
  display: inline-block;
  margin-left: 2px;
}

/* tag page */
.tag-page ul {
  list-style: none;
  margin-top: 1rem;
}

/* pygments */
.hll pre {
  line-height: 1.5;
  font-size: 0.875rem;
  font-family: var(--font-code);  
  background: #fff; 
}

p code, li code {
  color: var(--gray-8);
  background: #fff;
}

/* prism */
code[class*=language-] {
  font-family: var(--font-code);
}

pre[class*=language-] {
  font-size: 0.875rem;
  line-height: 1.25;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  background: #fff;
}

p code, li code {
  color: var(--gray-8);
  background: #fff;
}

mark {
  background: rgba(0,255,128,.1);
  padding: 0 .2rem;
}

/* contents */
img {
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (max-width: 576px) {
  img {
    padding: 0.5rem;
}
}

/* heroicons */
.w-6 {
  width: 32px;
}

.h-6 {
  height: 32px;
}

.w-5 {
  width: 16px;
}

.h-5 {
  height: 16px;
}

/* breadcrumbs list */
.breadcrumbs {
  display: inline-block;
  line-height: 1;
  margin-bottom: .5rem;
}

.breadcrumbs svg, .breadcrumbs a {
  vertical-align: middle;
  margin-left: -4px;
  color: var(--gray-6);
}

.breadcrumbs svg:first-child {
  margin-left: 0px;
}

/* pagination */
.pagination {
  display: inline-block;
  line-height: 1;

}

.pagination * {
  vertical-align: middle;
}

.pagination svg {
  margin-bottom: .25rem;
}

/* hr ajustment */

div.page h2 {
  margin-bottom: .625rem;
}

.articles hr {
  background: var(--gray-1);
}


footer {
  background: var(--page-backgroundcolor);
}