/* navbar */
body {
  margin-top: 0;
}

header {
  max-width: 1200px;
  padding: 0;
  background: initial;
}


.header-text {
  max-width: 720px;
  margin: 0 auto;
  height: inherit;
}

.header-text h1 {
  text-align: left;
  padding-top: 80px;
  margin: 0 1rem;
  color: var(--gray-8);
}

.header-text h2 {
  text-align: left;
  padding-top: .5rem;
  margin: 0 1rem;
  color: var(--gray-8);
  font-family: var(--font-nothing);
  font-weight: 400;
  font-size: 1.5rem;
}


.header-image-area {
  background-image: url(./img/wasteland-medium.jpg);
  background-image: image-set(url(./img/wasteland-medium.webp) 1x, url(./img/wasteland-woowee.webp) 2x);
  background-image: -webkit-image-set(url(./img/wasteland-medium.webp) 1x, url(./img/wasteland-woowee.webp) 2x);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  height: 300px;
  z-index: 0;
}

@media screen and (max-width: 576px) {

  .header-image-area {
    background-image: url(./img/wasteland-small.jpg);
    background-image: image-set(url(./img/wasteland-small.webp) 1x, url(./img/wasteland-medium.webp) 2x);
    background-image: -webkit-image-set(url(./img/wasteland-small.webp) 1x, url(./img/wasteland-medium.webp) 2x);
    height: 150px;
  }

  .header-text h1 {
    padding-top: 1rem;
  }
  
  .header-text h2 {
    padding-top: .25rem;
  }

}


