<!doctype html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../../static/base.css">

<link rel="stylesheet" href="../../static/style.css">

<link rel="stylesheet" href="../../static/override.css">

<link rel="stylesheet" href="../../static/prism.css">

<link rel="stylesheet" href="../../static/custom.css">

<link rel="stylesheet" href="../../static/navbar.css">

<link rel="stylesheet" href="../../static/header.css">

<link rel="stylesheet" href="../../static/welcome.css">

<title>Welcome — lektor-memory</title>
<body>
  <header>
    <div class="navbar">
  <div class="navbar-area">
    <div class="navbar-logo">
      <div class="logo">Icyowl</div>
      <svg id="burger-icon" class="w-6 h-6 burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" >
        <path fill-rule="evenodd" d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z" clip-rule="evenodd" />
      </svg>  
    </div>

    <nav>
      <ul id="menu" class="nav navbar-nav">
        <li><a href="../../">Home</a></li>
        
          <li class="active"><a href="../">Blog</a></li>
        
          <li><a href="../../tags/">Tags</a></li>
        
          <li><a href="../../about/">About</a></li>
        
      </ul>
    </nav>

  </div>
</div>

<script>
  var target = document.querySelector(".burger")
  var icon = document.getElementById("burger-icon");
  var menu = document.getElementById("menu");

  target.addEventListener("click", () => {
    icon.classList.toggle("fade");
    menu.classList.toggle("navbar-nav");
    // console.log(icon);
    // console.log(menu);

  })
</script>
    <div class="header-image-area">
  <div class="header-text">
    <h1>朗読者の記憶</h1>
    <h2>Static Site CMS Lektor</h2>
  </div>
</div>






  </header>
  <div class="page">
    
  <div class="breadcrumbs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
    <a href="/">Home</a>
  </div>

  <div class="breadcrumbs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
    <a href="/blog">blog</a>
  </div>

  <div class="breadcrumbs">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
      <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
    </svg>
    <a href="/blog/quickstart-tagpage">quickstart-tagpage</a>
  </div>

    
  
  <div class="blog-post">
  
    <h2>タグ一覧ページ</h2>
  
  <hr />
  <div class="meta">
    <ul> 
      
        
          <li>tags:</li>
        
        
          <li>
            <a href="../tag/lektor/">lektor</a>
          </li>
        
          <li>
            <a href="../tag/quickstart/">quickstart</a>
          </li>
        
      
    </ul>
    <span>
      on 2023-01-21 12:00:00
    </span>
  </div>
  
    <p>lektor-tagsプラグインが提供する<code>tagweights()</code>を利用してタグの一覧とその記事数を表示するテンプレートを作成します。</p>
<h3>1. テンプレートの作成</h3>
<h4>templates/tags.html (作成)</h4>
<pre><code class="lang-markup">{% extends &quot;layout.html&quot; %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  &lt;div class=&quot;tag-page&quot;&gt;
    &lt;h2&gt;{{ this.title }}&lt;/h2&gt;
    &lt;ul&gt;
      {% if tagweights() %}
        {% for tag, weight in (tagweights() | dictsort(by=&#39;value&#39;, reverse=true)) %}
          &lt;li&gt;&lt;a href=&quot;{{ (&#39;/blog@tag/&#39; ~ tag ) | url }}&quot;&gt;{{ tag }}  ({{ weight.count }})&lt;/a&gt;&lt;/li&gt;
        {% endfor %}
      {% else %}
        &lt;li&gt;No tags.&lt;/li&gt;
      {% endif %}
    &lt;/ul&gt;
  &lt;/div&gt;
{% endblock %}
</code></pre>
<h3>2. テンプレートを呼び出すコンテンツ</h3>
<p>テンプレートは、データモデルの他に、コンテンツファイルから呼び出すことができます。まず<code>contnet</code>ディレクトリ下に、<code>tags</code>というディレクトリを作成します。</p>
<pre><code class="lang-none">|- content/
    |- tags/
        |- contents.lr
</code></pre>
<p><code>tags</code>ディレクトリ下の<code>contents.lr</code>でタグ一覧のテンプレートを呼び出します。</p>
<h4>content/tags/contents.lr (作成)</h4>
<pre><code class="lang-none">title: Tags
---
_template: tags.html
</code></pre>
<p>ヘッダーメニューのprojectsをtagsへ書き換えると、メニューからタグ一覧のページを呼び出せるようになります。</p>
<h4>templates/layout.html</h4>
<pre><code class="language-markup">&lt;ul class=&quot;nav navbar-nav&quot;&gt;
  &lt;li{% if this._path == &#039;&#x2f;&#039; %} class=&quot;active&quot;{% endif
    %}&gt;&lt;a href=&quot;{{ &#039;&#x2f;&#039;|url }}&quot;&gt;Welcome&lt;&#x2f;a&gt;&lt;&#x2f;li&gt;
  {% for href, title in [
    [&#039;&#x2f;blog&#039;, &#039;Blog&#039;],
    <del>[&#039;&#x2f;projects&#039;, &#039;Projects&#039;],</del>
    <mark>[&#039;&#x2f;tags&#039;, &#039;Tags&#039;],</mark>
    [&#039;&#x2f;about&#039;, &#039;About&#039;]
  ] %}
</code></pre><p><img src="./tagpage-view.jpg" style="max-width:380px;" /></p>

  
  </div>

  
  <div class="siblings">
    
        <a href="../quickstart-tags/">Previous Post</a>
    
    
        <a href="../quickstart-highlighter/">Next Post</a>
    
  </div>


  </div>
  <footer>
    &copy; Copyright 2023 by Aki. 
<a style="margin-left:0.25rem;" href="#">Tiwtter</a>
  </footer>
  <script src="../../static/js/prism.js" defer></script>
</body>
